@model IEnumerable<Restaurant.Entity.RestaurantEntity>
@{
    ViewBag.Title = "Index";
}
<h1>Index</h1>
@foreach(Restaurant.Entity.RestaurantEntity restaurantEntity in @Model)
{
    <ol>
        
        <li>
            @restaurantEntity.RestaurantName
        </li>
        <li>
            @restaurantEntity.RestaurantType
        </li>
        <li>
            @restaurantEntity.Location
        </li>
    </ol>
   
}

