@model Restaurant.Entity.RestaurantEntity

@{
    ViewBag.Title = "ViewDetails";
}
<h1>View Data</h1>
    <table border="1">
        <tr>
            <td>
                Restaurant Name
            </td>
            <td>
                Restaurant Type
            </td>
            <td>
                Location
            </td>
        </tr>
        @foreach (Restaurant.Entity.RestaurantEntity item in (List<Restaurant.Entity.RestaurantEntity>)ViewData["RestaurantDetails"])
        {
            <tr>
                <td>
                    @item.RestaurantName
                </td>
                <td>
                      @item.RestaurantType
                </td>
                <td>
                    @item.Location
                </td>
            </tr>
        }
    </table>
